@charset "utf-8";
/* CSS Document */
:root {
  box-sizing: border-box;
}

*,
::before
::after {
  box-sizing: inherit;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    text-align: initial;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: .25em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside #map-container {
  background: blue none repeat scroll 0 0;
  position: relative;
  height: 400px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: relative;
  margin: 0;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
  border-top-left-radius: 2em;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 3em 2em 1.5em;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  max-width: 32%;
  min-width: 17rem;;
  display: grid;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
#reviews-list li p {
  margin: 0 0 10px;
  padding: .5em 1em;
}
#restaurant-hours td {
  color: #666;
}

#reviews-list li p:nth-child(1) {
  text-indent: .5em;
  font-size: 1.3em;
  max-height: 1.5em;
  background-color: #333;
  color: #ddd;
  grid-column: 1 / 2;
}

#reviews-list li p:nth-child(2) {
  text-align: right;
  padding-top: .9em;
  font-size: 0.9em;
  max-height: 2.2em;
  background-color: #333;
  color: #bbb;
  grid-column: 2 / 2;
}


#reviews-list li p:nth-child(3) {
  color: #fff;
  text-transform: uppercase;
  /* could not constrain background to text content? uggly max-width hack */
  max-width: 5em;
  max-height: 1.5em;
  display: block;
  margin-left: 1em;
  background-color: #f58500;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 2;
}

#reviews-list li p:nth-child(4) {
  grid-column: span 2;
  grid-row: 3;
}

/* skip link */
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:#fff;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline:0;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

@media only screen and (max-width: 360px) {
  #restaurants-list {
    padding: 30px 0 60px;
  }
  #restaurants-list li {
    padding: 0 0 25px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    align-content: center;
  }
  #restaurants-list li h1 {
    margin-left: 10px;
  }
  #restaurants-list p {
    margin-left: 10px;
  }
  #restaurants-list li a {
    margin-left: 10px;
  }
  #restaurant-img {
    width: 100%;
  }
  #restaurant-cuisine {
    width: 100%;
  }
  #restaurant-container, #reviews-container {
    padding: 1em 0 1em;
  } 
  #reviews-list li {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  section#restaurant-container {
    display: grid;
    grid-template-columns: minmax(100px, 900px) auto;
  }

  #restaurant-name {
    grid-row: 1;
    grid-column: auto;
  }

  #restaurant-img {
    grid-row: 2 / span 3;
    grid-column: 1 / 2;
  }

  #restaurant-cuisine {
    grid-row: 5;
    grid-column: 1 / 2;
    height: 1.6em;
    margin-top: 0.2em;
  }

  #restaurant-address {
    grid-row: 2;
    grid-column: 2 / 3;
  }

  #restaurant-hours {
    grid-row: 3;
    grid-column: 2 / 3;
    max-width: 20em;
  }
}
